section {
    font-family: 'Raleway', sans-serif;
}

html::-webkit-scrollbar {
    display: none;
}

.button {
    margin: 0px 0px 10px 0px;
}

body {
	background: linear-gradient(-45deg, #42e3ff, #f10c64);
	background-size: 1000% 1000%;
	animation: gradient 10s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
