section {
    font-family: 'Raleway', sans-serif;
}
html {
    text-transform: uppercase;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar {
    display: none;
}
.button {
    margin: 0px 0px 10px 0px;
}
body {
    background: linear-gradient(40deg, #12c2e9, #c471ed, #f64f59);
    background-size: 500% 500%;
    animation: gradient 10s ease infinite;
    height: auto;
}
@keyframes gradient {
    0% {background-position: 0% 50%}
    50% {background-position: 100% 50%}
    100% {background-position: 0% 50%}
}
img {
    border-radius: 10px;
    margin-bottom: 5;
}
.map {
    background-color: #4e4e4e3d;
    border-radius: 10px;
    margin: 5;
}